{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Prasith Flask Home page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/basketball.png') }}" alt="Python Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Basketball</h5>
                    <p class="card-text">
                        <ol>
                            <li>Playing basketball for 7 years.</li>
        
                        </ol>
                    </p>
                    <a href="https://www.nba.com/" class="btn btn-primary">Nba</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/eagles.jpg') }}" alt="Flask Development" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Philadelphia Eagles</h5>
                    <p class="card-text">
                        <ol>
                            <li>I have watched every eagles game since 2017</li>
            
                        </ol>
                    </p>
                    <a href="https://www.philadelphiaeagles.com/" class="btn btn-primary">Eagles Website</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/coding.jpg') }}" alt="Backend and Persistence" height="250">
                    <div class="card-body">
                    <h5 class="card-title">Coding</h5>
                    <p class="card-text">
                        <ol>
                            <li>I have been coding for 5 years and my favorite language is python</li>

                        </ol>
                    </p>
                    <a href="https://www.python.org/" class="btn btn-primary">Python.org</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}