<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Stubby" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here, bootstrap is a wise choice ->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-primary"><strong>Prasith Chilla Interests:</strong></h1>
        <p class="card-text">
            <ol>
                <li>Basketball</li>
                <li>Football</li>
                <li>Coding</li>
                <li>Hanging out with friends</li>
                <li>Business</li>

            </ol>
            <img src="https://static.www.nfl.com/image/private/t_q-best/league/e4cc7kfy09r1yrbw2aez" 
            width="1500" 
            height="500" />
    </div>
{% endblock %}
<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}
